@charset "utf-8";
/* ---------------------------------------------------------
   base.css
----------------------------------------------------------*/
@import "compass";
@import "set";

/* default */
html {
  font-size: 62.5%;
  @include gothic;
  line-height: 1;
}
body {
  @include font-size(1.4);
  color: $color_base;
}
a {
  color: $color_base;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}
::selection {
  background: $color_brooklyn;
  color: #fff;
}
::-moz-selection {
  background: $color_brooklyn;
  color: #fff;
}

.container {
  padding: 4px 4px 0 4px;
}

/* visual */
.visual {
  @include font-size(3.0);
  @include clearfix;
  height: 700px;
  .box {
    display: block;
    width: 50%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
  }
  a {
    display: block;
    text-decoration: none;
    @include gothic_bold;
    color: #fff;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 700px;
    &:hover {
      transition: 0.2s ease-in;
    }
  }
}
.box_brooklyn {
  border-right: 1px solid #fff;
  a {
    &:hover {
      background-color: $color_brooklyn;
      @include background-color_brooklyn(0.8);
    }
  }
}
.box_lotus {
  //background-image: url("../img/top/bg_lotus01.png");
  border-left: 1px solid #fff;
  a {
    &:hover {
      @include background-color_lotus(0.8);
    }
  }
}
.box_bg {
  li {
    position: absolute;
    z-index:-1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-sizing:border-box;   
  }
}
.box_bg-brooklyn {
  .bg01 { background-image: url("../img/top/bg_brooklyn01.png"); }
  .bg02 { background-image: url("../img/top/bg_brooklyn02.png"); }
  .bg03 { background-image: url("../img/top/bg_brooklyn03.png"); }
  .bg04 { background-image: url("../img/top/bg_brooklyn04.png"); }
  .bg05 { background-image: url("../img/top/bg_brooklyn05.png"); }
}
.box_bg-lotus {
  .bg01 { background-image: url("../img/top/bg_lotus01.png"); }
  .bg02 { background-image: url("../img/top/bg_lotus02.png"); }
  .bg03 { background-image: url("../img/top/bg_lotus03.png"); }
  .bg04 { background-image: url("../img/top/bg_lotus04.png"); }
  .bg05 { background-image: url("../img/top/bg_lotus05.png"); }
}

/* .ratio-1_1:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.inner {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
}
.table {
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
}
.table > * {
  display: table-cell;
  vertical-align: middle;
} */

footer {
  position: fixed;
  bottom:0;
  width: 100%;
  text-align: center;
  height:30px;
  background: #fff;
}
.list_shop {
  text-align: center;
  margin-bottom: 20px;
  li {
    display: inline-block;
    a {
      padding: 0px 15px;
      border-left:1px solid lighten( $color_base, 50% );
    }
    &:last-child a {
      border-right:1px solid lighten( $color_base, 50% );
    }
  }
}
.h1_top {
  @include font-size(2.0);
  @include gothic_bold;
  text-align: center; 
  margin-bottom: 20px;
}
h2 , h3 {
  border-bottom:1px solid #dddddd;
  line-height: 1;
}
.copyright {
  @include font-size(0.9);
  text-align: center;
  line-height:30px;
}
@media screen and (max-width: 979px) {
  /* 979px以下用（タブレット用）の記述 */
}
@media screen and (max-width: 767px) {
  /* 767px以下用（タブレット／スマートフォン用）の記述 */
  // .ratio-1_1:before {
  //   padding-top: 200%;
  // }
}
@media screen and (max-width: 479px) {
  /* 479px以下用（スマートフォン用）の記述 */
}






